extends ../layouts/default


block css
  link(href="/styles/about.css", rel="stylesheet")

block content
  .container
    .main-content
      ol.breadcrumb
        li
          a(href="/") Home
        li.active About
      .about-section
        .tabs-box
          ul.tabs-menu
            li
              a(href="#tab1")
                span  
                | 关于我们
            li
              a(href="#tab2")
                span  
                | 人才招聘
            li
              a(href="#tab3")
                span  
                | 免责声明
            li
              a(href="#tab4")
                span  
                | 投诉建议
            li
              a(href="#tab5")
                span  
                | 支付方式
            li
              a(href="#tab6")
                span  
                | 联系我们
          .clearfix  
          .tab-grids
            #tab1.tab-grid
              h5 关于我们              
              p
                | 游参谋网创立于2014年10月，是XXX公司旗下的独立旅游品牌，致力于为来张家界旅游的游客提供优质的旅游服务，打造成张家界自驾游第一品牌。目前，游参谋网提供张家界旅游酒店预订，自助游，自驾游，景区门票，以及公司旅游等服务。

              p
                | 尊敬的游客，您好：欢迎您访问我们的网站，其他的旅游产品，存在着各种各样的消费陷阱，包括自费，购物，行程空虚，偷换概念等。尽管不少游客或多或少了解到其中的一些内幕，部分地学会了保护了自己，在选择一些低价团时，下决心捂紧口袋，坚决不上当受骗。但俗语说：买的没有卖的精。旅游消费陷阱无处不在，老江湖阴沟里翻船的事情时有发生。同时，有这种想法的人，实际上并不懂旅游。旅游这种商品，有其的特殊性，其价值主要体现在精神上的感受。不诚信的旅游线路，可能低价，但你却得不到真正轻松愉快的感受。实际上，低价旅游到头来所花费的钱不一定会少，而你的旅游却是彻底失败了。试想，虽然你少花了一点钱，却请到了一个总是绞尽脑汁、想方设法要赚取你口袋里的钱财，而不是尽心尽力为你服务的人的时候，是不是有点自讨苦吃的感觉呢？说的白一点，就是花钱请了个大爷来骗你。当为你服务的人在你的身上赚不到钱的时候，你甚至还要看他的脸色、听他的风凉话、受他的气，这又是何苦呢？也许有人不会在物质方面上当受骗，但想想看，旅游的目的达到了吗？你的时间，你的金钱，难道不是白白地浪费了吗？你的坏心情是因何而来的呢？旅游服务的质量受多个方面的影响，虽然服务人员（主要是导游）尽力了，一些意外的事情常常会影响游客的心情。当然，同样的事情，由不同水平的导游来处理，可能会有两种截然不同的结果，这对导游的能力要求是相当高的。可是诚信旅游面临的一大难题，就是心态好的导游的缺乏。缺乏诚信的旅游行业，对于一些欺骗的行为，是默许的。这些潜规则的存在，已经腐蚀了许多导游的灵魂。更多的人，愿意去赌博，可能会在物质方面有较多的收获。诚信旅游是让导游的付出有合理的体现，但接待诚信旅游的导游比起一些宰客高手来，收入相去甚远，这会让不少人的心态不能平衡。说句不太好听的，今天的导游，拿到了导游证，就等于是拿到了一张合法的宰客证，既然一切都是公开的，又何宰而不为呢？真正约束诚信导游的行为的，是良心与道德。同时，一些新导游，在没有足够的心态和能力去接待赌博的团队的时候，诚信团也是他们不错的选择，而一旦有了足够的能力和经验，他们就转去接待那些有赌博性质的团队了，这种情况就导致了诚信导游平均水平的不足。当然，诚信旅游不会以此作为借口，降低服务的标准，我们会不断提高诚信导游的服务水平。可是，社会的环境，造成好人难做的现实，诚信导游可能面临着更大的生存压力，不能长久坚持。所以再次希望，当出现一些不是故意或我们能力范围外的突发事件时，要有一个宽容的心态，帮助诚信旅游事业的发展，这种良好的心态，也会让您有一个愉快的旅程。再次感谢，您理性的选择！

            #tab2.tab-grid
              h5 人才招聘
            #tab3.tab-grid
              h5 免责声明
              p 
                | 1. “游参谋”部分文章信息来源于网络转载是出于传递更多信息之目的，并不意味着赞同其观点或证实其内容的真实性。如其他媒体、网站或个人从本网下载使用，必须保留本网注明的“稿件来源”，并自负版权等法律责任。如对稿件内容有疑议，请及时与我们联系。
              p
                | 2. “游参谋”致力于提供合理、准确、完整的资讯信息，但不保证信息的合理性、准确性和完整性，且不对因信息的不合理、不准确或遗漏导致的任何损失或损害承担责任。本网站所有信息仅供参考，不做交易和服务的根据， 如自行使用本网资料发生偏差，本站概不负责，亦不负任何法律责任。
              p
                | 3. 任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营的不可抗力而造成的损失，本网站均得免责。由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果，本网站均得免责。
              p
                | 4. 本网站如因系统维护或升级而需暂停服务时，将事先公告。若因线路及非本公司控制范围外的硬件故障或其它不可抗力而导致暂停服务，于暂停服务期间造成的一切不便与损失，本网站不负任何责任。
              p
                | 5. 本网站使用者因为违反本声明的规定而触犯中华人民共和国法律的，一切后果自己负责，本网站不承担任何责任。
              p 6.以任何方式登陆本网站或直接、间接使用本网站资料者，视为自愿接受本网站声明的约束。
              p 7. 本声明未涉及的问题参见国家有关法律法规，当本声明与国家法律法规冲突时，以国家法律法规为准。
              p 8.本网站如无意中侵犯了哪个媒体或个人的知识产权，请来信或来电告之，本网站将立即给予删除。

            #tab4.tab-grid
              h5 投诉建议
            #tab5.tab-grid
              h5 支付方式
              img(src='/images/pay.gif')
              p 定金注意事项：
              p 1. 汇定金时请务必将帐号、名称、银行等信息填写正确，如因填写错误导致定金未到账，则预订作废。
              p 2. 定金汇出后，由于我们并不知道是谁汇的定金，所以请务必即时电话通知我们，若未能及时通知，我们只能以定金未按时汇出为由，自动取消您的预订。
              p 3. 请务必在指定的时间之前汇出定金，若超过指定时间汇出，则以前承诺的价格、车位、机位等会自动取消，将按最新的价格重新进行确认。旅游是一种特殊产品，在您还没有真正消费时，就已经发生了费用。
              p 4. 当然，如果您实在不愿意预交定金，不是说旅行社一概不予接待，我们同样会到机场车站接您。只是您的行程日期不能得到保障，但只要还有名额，我们仍将尽力为你办 好相关手续，与您签定由旅游局统一制定的《旅游合同》，您支付团费后，就可以出行了。可能出现的问题是：如果没有名额，就只能推迟或改走其它有名额的旅游线路。
              p 总之，支付定金是为了保障双方的权益，客人支付定金后享有与旅行社约定的旅游线路如期出行的权宜，所确定的价格及旅游标准不能随意变动。
              table
                tr
                  th(width='25%') 银行
                  th(width='25%') 户名
                  th(width='50%') 卡号
                tr
                  td 中国农业银行
                  td 彭杰  
                  td 62284 8242 80024 29976
                tr
                  td 中国建设银行
                  td 彭杰
                  td 6236 6830 5000 0137 102
                tr
                  td 中国银行
                  td 彭杰  
                  td 621 785 7500017713212
                tr
                  td 中国工商银行
                  td 彭杰
                  td 
                tr
                  td 支付宝
                  td 彭杰  
                  td 409108107@qq.com
            #tab6.tab-grid
              h5 联系我们
              p 预订电话：400-001-4321
              p 张家界游参谋
              p 公司地址：湖南省张家界市孟坪路月亮湾1期2单元5楼
              p 电子邮件：youcanmou@126.com
              p 邮政编码：427000
              p 客服Q Q：1401696688  499138698
              p 传真号码：00000

          .clearfix
block js
  script.
    $(document).ready(function() {
    $("#tab2").hide();
    $("#tab3").hide();
    $("#tab4").hide();
    $("#tab5").hide();
    $("#tab6").hide();
    $(".tabs-menu a").click(function(event) {
    event.preventDefault();
    var tab=$(this).attr("href");
    $(".tab-grid").not(tab).css("display","none");
    $(tab).fadeIn("slow");
    });
    });